<div class="analytics-container">
    
  <!-- Navigation Bar -->
      <nav class="navbar">
        <div class="logo">INVOICE PRO</div>
        <ul class="nav-links">
          <li><a routerLink="/dashboard/home">Home</a></li>
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/dashboard/analytics">Analytics</a></li>
          <li><a routerLink="/dashboard/invoice/create">Invoices</a></li>
          <li><a routerLink="/dashboard/edit">Edit</a></li>
          <li><a routerLink="/dashboard/report">Report</a></li>
        </ul>
        <div class="user-section">
          <input type="text" placeholder="Search..." class="search-bar" />
          <span class="theme-toggle">🌙</span>
        </div>
      </nav>
    <!-- Router Outlet to Load Child Components -->
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
    <app-summary-cards></app-summary-cards>
    <app-cash-flow></app-cash-flow>
    <app-expenses-widget></app-expenses-widget>
  </div>
  
