
<nav class="navbar">
    <ul class="nav-list">
      <!-- Product Invoice Dropdown -->
      <li class="dropdown">
        <a href="#"> Product Invoice ▾</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/product/product-signup">Create Invoice</a></li>
          <li><a routerLink="/product/product-findbyid">Find Invoice</a></li>
          <li><a routerLink="/product/product-findall">List Invoice</a></li>
          <li><a routerLink="/product/product-update/1">Edit Invoice</a></li>
        </ul>
      </li>
  
      <!-- Service Invoice Dropdown -->
      <li class="dropdown">
        <a href="#"> Service Invoice ▾</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/service/signup">Create Invoice</a></li>
          <li><a routerLink="/service/findbyid"> Find  Invoice</a></li>
          <li><a routerLink="/service/findallinvoice"> List Invoices</a></li>
        </ul>
      </li>
        <!-- Service Invoice Dropdown -->
        <li class="dropdown">
          <a href="#"> Standard Invoice ▾</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/standard/standardsignup"> Create Invoice</a></li>
            <li><a routerLink="/standard/standardfindbyid"> Find Invoice</a></li>
            <li><a routerLink="/standard/standardfindall"> List Invoice</a></li>
            <li><a routerLink="/standard/update"> Edit Invoice</a></li>

          </ul>
        </li>
         <!-- Service Invoice Dropdown -->
         <li class="dropdown">
          <a href="#"> Recurring Invoice ▾</a>
          <ul class="dropdown-menu">

            <li><a routerLink="/recurring/recurring-signup">Create Invoice</a></li>
            <li><a routerLink="/recurring/recurring-findbyid"> Find Invoice</a></li>
            <li><a routerLink="/recurring/recurring-findall">List Invoice</a></li>
            <li><a routerLink="/recurring/update">Edit Invoice</a></li>

          </ul>
        </li>

        <li class="dropdown">
          <a href="#">🧾 Proforma Invoice ▾</a>
          <ul class="dropdown-menu">

            <li><a routerLink="/proforma/proforma-signup">🛠️ Create Proforma Invoice</a></li>
            <li><a routerLink="/proforma/proforma-findbyid">🔍 Find By Id Proforma Invoice</a></li>
            <li><a routerLink="/proforma/proforma-findall">🔍 Find All Proforma Invoice</a></li>
 
          </ul>
        </li>
    </ul>

  </nav>
  
  <router-outlet></router-outlet>

