<div class="cards-container">
    <div class="card" *ngFor="let card of cards">
      <div class="card-header">
        <div class="icon" [ngStyle]="{'background-color': card.iconBg}">
          <i [class]="card.iconClass"></i>
        </div>
        <p>{{ card.title }}</p>
      </div>
      <div class="card-value">
        {{ card.displayValue }}
      </div>
      <div class="card-footer">
        <span class="tag" [ngClass]="card.tagClass">{{ card.tag }}</span>
        <button class="view-more">View More</button>
      </div>
    </div>
  </div>
  