<nav class="navbar">
    <div class="logo"> 
      <span class="brand">INVOICE <span class="pro">PRO</span></span>
    </div>
    <ul class="nav-links">
       <li><a href="#">Home</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a routerLink="/analytics">Analytics</a></li>
      <li><a href="#">Invoices</a></li>
      <li><a href="#">Edit Invoice</a></li>
      <li><button class="purchase-btn">Purchase Now</button></li>
    </ul>
  </nav>
  <ul class="nav-links">
    <li><a routerLink="/dashboard">Home</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/dashboard/analytics">Analytics</a></li>
    <li><a routerLink="/dashboard/invoice/create">Invoices</a></li>
    <li><a routerLink="/dashboard/edit">Edit</a></li>
    <li><a routerLink="/dashboard/report">Report</a></li>
</ul>