<div class="invoice-search-container">
    <h2>Find Standard Invoice By ID</h2>
  
    <div class="invoice-search-wrapper">
        <div class="invoice-search-box">
          <div class="search-box">
            <input type="number" [(ngModel)]="searchId" placeholder="Enter Invoice ID">
            <button (click)="findInvoiceById()">🔍 Search</button>
          </div>
        </div>
      </div>
      
  
    <div class="invoice-details" *ngIf="recurringinvoice">
      <h3>Standard Invoice Details</h3>
      <p><strong>ID:</strong> {{ recurringinvoice.id }}</p>
      <p><strong>Invoice Number:</strong> {{ recurringinvoice.invoiceNumber }}</p>
      <p><strong>Auto Payment Setup:</strong> ₹{{ recurringinvoice.autoPaymentSetup }}</p>
      <p><strong>End Date:</strong> ₹{{ recurringinvoice.endDate }}</p>
      <p><strong>Payment Term:</strong> {{ recurringinvoice.paymentTerm }}</p>
      <p><strong>Total Payable:</strong> {{ recurringinvoice.totalPayable }}</p>
      <p><strong>PDF Path:</strong>
        <a [href]="recurringinvoice.pdfPath" target="_blank">Download PDF</a>
      </p>
    </div>
  </div>
  